################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/opencv_012/.vs/opencv_012/v15
/opencv_imageRotate/.vs/opencv_imageRotate/v15
/opencv_TextRotate/.vs/opencv_TextRotate/v15
/opencv_017/.vs/opencv_017/v15
